<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Travel</title>
    <link rel="icon" href="resources/img/Logo3.png">
    <link rel="stylesheet" href="resources/css/estilos.css">
    <link rel="stylesheet" href="resources/css/tabla.css">
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

</head>
<body id="body">
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars"  href="/index" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <a href="/">
                <img src="resources/img/Logo3.png" width="50"/>
            </a>
            <h5>Advance Travel</h5>
        </div>

        <div class="options__menu">	

            <a href="/index">
                <div class="option">    
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            
            <a href="/adminrutas" class="selected">
                <div class="option">
                   <i class="fa-solid fa-calendar-days"></i>
                    <h4>Administrar horarios</h4>
                </div>
            </a>

            <a href="/usuarios">
                <div class="option">
                    <i class="fa-solid fa-users" title="usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            <a href="/perfil">
                <div class="option">    
                    <i class="fa-solid fa-user" title="Perfil"></i>
                    <h4>Perfil</h4>
                </div>
            </a>

            <a href="/logout">
                <div class="option">
                    <i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar sesion" style="background-image: white; "></i>
                    <h4>Cerrar sesion</h4>
                </div>
            </a>
        </div>
    </div>

  
    <main>
        <div align="right">
            <br>
            <a href="/Crear_rutas">
                <div class="option">
                    <i class="fa-solid fa-circle-plus"></i>
                    <h4>Crear rutas o horarios</h4>
                </div>
            </a>
        </div>


        <table summary="Rutas y horarios resgistrados">
            <caption>Rutas y horarios resgistrados</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Salida</th>
                    <th scope="col">Llegada</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                <% rutas.forEach((rutas)=>{%>   
                    <tr>
                      <td><%=rutas._id%></td>
                      <td><%=rutas.nombre%></td>
                      <td><%=rutas.origen%></td>
                      <td><%=rutas.destino%></td>
                      <td><%=rutas.fecha_salida%> - <%=rutas.hsalida%></ts>
                      <td><%=rutas.fecha_llegada%> - <%=rutas.hllegada%></td>
                      <td><%=rutas.precio%></td>
                      <td>
                        <form action="/delteruta_<%=rutas._id%>" method="post">
                            <button>Eliminar</button>
                        </form>
                    </td>  
                    </tr>
                <%})%>
            </tbody>
        </table>
    
    </main>

    <script src="resources/css/script.js"></script>

    <script src="moment.js"></script>
    
</body>
</html>

