<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=origen%>
  </title>
  <link rel="stylesheet" href="resources/css/barranav.css">
  <link rel="stylesheet" href="resources/css/footer.css">
  <link rel="stylesheet" href="resources/css/ticketes.css">
  <link rel="icon" href="resources/img/Logo3.png">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="resources/css/barranav.js" defer></script>
</head>

<body>
  <nav class="navbar">
    <ul>
      <li class="navbar-logo" padding="0" margin="0">
        <a href="/">
          <img id="nav-logo" src="resources/img/Logo3.png" alt="" width="auto" height="58">
        </a>
      </li>

      <li class="navbar-toggle"><i class="fas fa-bars"></i></li>
      <li class="navbar-links" id="inicio_">Inicio</li>
      <li class="navbar-links" id="rutas_">Rutas</li>
      <li class="navbar-links" id="login_">Log In</li>
    </ul>
  </nav>


  <h1>
    Origen: <%=origen%>
  </h1>

  <% rutas.forEach((rutas)=>{%>

    <div class="container">
      <div class="item">
        <div class="titulo-destino">
          <h2>
            <%=rutas.nombre%>
          </h2>
        </div>
        <div class="ticket-container">
          <div class="row">
            <h4>Fecha salida:</h4>
            <p>
              <%=rutas.fecha_salida%> - <%=rutas.hsalida%>
            </p>
            <br>
            <h4>Fecha llegada:</h4>
            <p>
              <%=rutas.fecha_llegada%> - <%=rutas.hllegada%>
            </p>
          </div>
          <div class="row row2">
            <h2>$<%=rutas.precio%>
            </h2>
            <div class="btn-comprar">
              <p>
                Comprar
              </p>
            </div>
          </div>
        </div>
      </div>
      <%}) %>
      
    </div>
    </div>

    </div> <br> <br>

    <footer>
      <seccion id="seccion1">
        <img src="resources/img/Logo3.png" alt="Logo">
        <p>
          Buses S.A. Empresa de servico de transporte de buces desde hace muchos años.
        </p>
        <p>
          Vigilado Super intendencia de transporte y el gobierno ncional.
        </p>
        <ul id="ul-footer">
          <li class="li-footer"><a
              href="https://www.facebook.com/Advance-Travel-105207552205595/photos/?ref=page_internal">
              <img src="resources/img/facebook.png" alt="Logo de facebook" class="icon_social_media">
            </a>
          </li>
          <li class="li-footer">
            <a href="https://www.instagram.com/advancestravel/">
              <img src="resources/img/instagram.png" alt="Logo de Instagram" class="icon_social_media">
            </a>
          </li>
          <li class="li-footer">
            <a href="https://twitter.com/ESNEIDERGUZMA11">
              <img src="resources/img/twitter.png" alt="Logo de twitter" class="icon_social_media">
            </a>
          </li>
        </ul>
      </seccion>
      <seccion id="seccion2">
        <h3 class="footer_title"><b>Contacto</b></h3>
        <p>Atencion al cliente: <br>
          655332773 <br>
          3008666628 - 3118948832 <br>
          atencionbuses@buses.com <br>
        </p>
        <p>
          Contacto negocios: <br>
          848999390 <br>
          311777788 - 317784888888 <br>
          negociosbusesas@buses.com
        </p>
      </seccion>
      <seccion id="seccion3">
        <h3 class="footer_title"><b>Donde estamos</b></h3>
        <p>Colombia - Cartagena. <br>
          Transersal 99 - Avenida Sherman <br>
          Wallaby 72 <br>
        </p>
        <p>
          Colombia - Bogota.
          Cra.#78-34 San Fernando - 31 <br>
        </p>
        <p>
          Colombia - Cali. <br>
          Cra.#81-33 al frente de la casa <br>
          de carlos.
        </p>
      </seccion>
      <seccion id="seccion4">
        <h3 class="footer_title"><b>Redes Sociales</b></h3>
        <p>Facebook: Buses SA <br>
          Intagram: @Buses_SA <br>
          twitter: @Buses_SA
        </p>
      </seccion>
      <div class="clearfix"></div>
      <center>
        <div id="ultimo">
          <p id="pe">
            Buses 2022 &copy;
          </p>
        </div>
      </center>
    </footer>

</body>

</html>