<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advance Travel</title>
    <link rel="icon" href="resources/img/Logo3.png">
    <link rel="stylesheet" href="resources/css/estilos.css">
    <link rel="stylesheet" href="resources/css/tabla.css">

    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
</head>
<body id="body">
    
    <header>
        <div class="icon__menu">
            <i class="fas fa-bars"  href="/index" id="btn_open"></i>
        </div>
    </header>

    <div class="menu__side" id="menu_side">

        <div class="name__page">
            <img src="resources/img/Logo3.png" width="50"/>
            <h5>Advance Travel</h5>
        </div>

        <div class="options__menu">	

            <a href="/index">
                <div class="option">    
                    <i class="fas fa-home" title="Inicio"></i>
                    <h4>Inicio</h4>
                </div>
            </a>
            
            <a href="/adminrutas">
                <div class="option">
                    <i class="fa-solid fa-bus" title="Administrar rutas"></i>
                    <h4>Administrar rutas</h4>
                </div>
            </a>

            <a href="/usuarios" class="selected">
                <div class="option">
                    <i class="fa-solid fa-users" title="usuarios"></i>
                    <h4>Usuarios</h4>
                </div>
            </a>
            <a href="/perfil">
                <div class="option">    
                    <i class="fa-solid fa-user" title="Perfil"></i>
                    <h4>Perfil</h4>
                </div>
            </a>

            <a href="/logout">
                <div class="option">
                    <i class="fa-solid fa-arrow-right-from-bracket" title="Cerrar sesion" style="background-image: white; "></i>
                    <h4>Cerrar sesion</h4>
                </div>
            </a>

        </div>

    </div>
    <main>
        <center>
            <br>
            <a href="/signup">
                <i class="fa-solid fa-user-plus" style="background-image: white;"></i>
                <h4>Agregar usuario</h4>
            </a>
        </center>
        
        <table summary="Tabla de usuarios">
            <caption>Usuarios registrados</caption>
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            
            <tbody>
                <% users.forEach((users)=>{%>   
                    <tr>
                        <td><%= users._id%></td>
                        <td><%= users.name%></td>
                        <td><%= users.email%></td>
                        <td><%= users.rol%></td>
                        <td>
                            <a href="/actualizarA_<%=users._id%>" class="btn btn-outline-info">Editar</a>
                            <form action="/delete_<%=users._id%>" method="post">
                                <button>Eliminar</button>
                            </form>
                        </td>  
                    </tr>
                <%})%>
            </tbody>
        </table>
    </main>

    <script src="resources/css/script.js"></script>
</body>
</html>

